



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/CSS/style.css">
  <title>Document</title>
</head>
<body>
  
<fieldset class="fieldset">
  <div class="tablink">
    <a href="departmentAdd.html">
      <h1 onclick="openPage('new')" id="defaultOpen">Add Department</h1>
    </a>
    <h1 onclick="openPage('edit')" id="link_to_edit">Edit Department</h1>
  </div>
  <div class="tabcontent" id="edit">
    <table class="editTable">
      <thead>
        <tr class="table-headers">
          <th>Department</th>
          <th>Courses</th>
          <th class="empty"></th>
        </tr>
      </thead>

      <tbody>
        {% for dept in departments %}
        <tr>
          <td>{{dept.dept_name}}</td>
          <td>{{course|dictKey:dept.dept_name}}</td>
          <td class="empty">
            <form action="{% url 'deletedepartment' dept.id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="X" class="cross">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</fieldset>

{% endblock %}
</body>
</html>